
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Hello</title>
    <!-- th:text="${title}" -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}" rel="stylesheet">
    <script src="../../webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="../../webjars/jquery/3.3.1/js/jquery.min.js"></script>

</head>
